<a href="https://colab.research.google.com/github/TechLateef/DsToolsandEcosystem/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**

* List commonly use libraries use by Data Scientist
* List popular Languages use by Data Scientist
+ examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
----------------------
|Jupyter Notebook|
| RStudio |
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/  60

3.3333333333333335

## Author

[Abdullateef Mubarak](https://www.linkedin.com/in/mubarak-abdullateef-b8669b244/)